/* You can add global styles to this file, and also import other style files */

@import url('/app/components/restbasedgraph/restbasedgraph.component.css');
@import url('/app/components/multilinegraph/multilinegraph.component.css');

.axis {
  font: 10px sans-serif;
}


.axis-title {
  fill: none;
  stroke: black;
  stroke-width: 0.5px;
}


.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

  .axis path,
  .axis line{
    fill: none;
    stroke: black;
  }



  .tick text{
    font-size: 12px;
  }

  /*.tick line{
    opacity: 0.2;
  }*/

/* loader*/

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.grid line {
  stroke: gray;
  stroke-opacity: 0.2;
  /*shape-rendering: crispEdges;*/
}

.grid path {
  stroke-width: 0;
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}