
<!--<div *ngIf = "loadingMask == true" class="loader">
</div> -->
<form (submit) = "onFormSubmit()">
  <div class="form-group" *ngIf = "isDateRangeSelected == false">
    <label for="Previous Months"> Data for {{numberOfMonths}} Month(s):</label>
    <input type="number" min="1" onkeypress="return event.charCode >= 49" class="form-control" [(ngModel)] = "numberOfMonths" name = "numberOfMonths" >
  </div>
  <div class="checkbox">
    <label > <input type="checkbox"  [(ngModel)] = "isDateRangeSelected" name = "isDateRangeSelected"> Provide date Range  </label>   
  </div>
<div class="form-group" *ngIf = "isDateRangeSelected == true">
    <label for="fromDate"> from Date:</label>
    <input type="date" class="form-control" [(ngModel)]="fromDate" name="fromDate">
    <label for="toDate"> to Date:</label>
    <input type="date" class="form-control" [(ngModel)]="toDate" name="toDate">
</div>
<div class="row">
  <div class="col-sm-4"> <button type="submit" class="btn btn-default">Submit</button></div>
  <div class="col-sm-4"> <button type="button" (click) = "onToggleBtnClick()" class="btn btn-default">{{toggleBtnLabel}}</button></div>
</div>
</form>
<div  class="svg-container">
    <svg width="100%" height="100%" viewBox="0 0 900 900" preserveAspectRatio="xMinYMin meet" class="svg-content"></svg>
</div>
